<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <contextName>CSD</contextName>

    <if condition='isNull("logging.baseDir") || property("logging.baseDir").equals("")'>
        <then>
            <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${logging.baseDir}/app.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${logging.baseDir}/app.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>5MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>%d [%thread] %-5level %logger{36} [%X{user}] %msg %n</Pattern>
                </layout>
            </appender>
        </else>
    </if>

    <jmxConfigurator />

    <logger name="net.homecredit" level="info"/>

    <logger name="org.springframework" level="info"/>

    <logger name="org.eclipse.persistence.logging" level="debug"/>

    <root level="DEBUG">
        <appender-ref ref="APP" />
    </root>



</configuration>